<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.ccs.secondkill.mapper.SecondKillGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.java.ccs.secondkill.pojo.SecondKillGoods">
        <id column="id" property="id" />
        <result column="goods_id" property="goodsId" />
        <result column="second_kill_price" property="secondKillPrice" />
        <result column="stock_count" property="stockCount" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goods_id, second_kill_price, stock_count, start_time, end_time
    </sql>

</mapper>
